<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>FoodDelivery</display-name>
  <welcome-file-list>
    <welcome-file>LoginServlet.do</welcome-file>
  </welcome-file-list>
    <!-->security-constraint>
    <web-resource-collection>
      <web-resource-name>Entire Application</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint-->
  
   <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>http://127.0.0.1:3000</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>POST, GET, OPTIONS, DELETE</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.headers</param-name>
      <param-value>Content-Type, Access-Control-Allow-Headers, Authorization</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allow.credentials</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
	<servlet-name>JerseyRESTService</servlet-name>
	<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
	<init-param>
		<param-name>jersey.config.server.provider.packages</param-name>
		<param-value>es.unex.pi.resources</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
	<servlet-name>JerseyRESTService</servlet-name>
	<url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>restaurantEdit</display-name>
    <servlet-name>restaurantEdit</servlet-name>
    <servlet-class>es.unex.pi.controller.restaurantEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>restaurantEdit</servlet-name>
    <url-pattern>/restaurantEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>restaurantEditServlet</display-name>
    <servlet-name>restaurantEditServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.restaurantEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>restaurantEditServlet</servlet-name>
    <url-pattern>/restaurantEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarCuentaServlet</display-name>
    <servlet-name>EliminarCuentaServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EliminarCuentaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarCuentaServlet</servlet-name>
    <url-pattern>/EliminarCuentaServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarRestauranteServlet</display-name>
    <servlet-name>EliminarRestauranteServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EliminarRestauranteServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>BusquedaEstadosServlet</display-name>
    <servlet-name>BusquedaEstadosServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.BusquedaEstadosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusquedaEstadosServlet</servlet-name>
    <url-pattern>/BusquedaEstadosServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reviewServlet</display-name>
    <servlet-name>reviewServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.reviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reviewServlet</servlet-name>
    <url-pattern>/reviewServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FiltroValoracionServlet</display-name>
    <servlet-name>FiltroValoracionServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.FiltroValoracionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FiltroValoracionServlet</servlet-name>
    <url-pattern>/FiltroValoracionServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pedidoServlet</display-name>
    <servlet-name>pedidoServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.pedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pedidoServlet</servlet-name>
    <url-pattern>/pedidoServlet.do</url-pattern>
  </servlet-mapping>
</web-app>